.hamburger {
  cursor: pointer;
  display: inline-block;
  font-size: 6px;
  height: 6em;
  position: relative;
  user-select: none;
  @include transition(ease-in-out 0.2s);
  width: 6em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border: none !important;
  span {
    left: 0;
    background: black;
    @include backface-visibility(hidden);
    height: 0.8em;
    position: absolute;
    @include transition(ease-in-out 0.2s);
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:nth-child(1) {
      top: 1em;
    }
    &:nth-child(2) {
      top: 2.6em;
    }
    &:nth-child(3) {
      top: 4.2em;
    }
  }
  &.open span {
    &:nth-child(1) {
      transform: rotate(45deg) translate(1.1em, 1.1em);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(1.1em , -1.1em);
    }
  }
}

