footer {
  font-family: $font_family;
  @include outer-container;
  .issues {
      text-align: center;
      margin-bottom: 10px;
      i {
        width: 25px;
      }
      a {
        height: 20px;
      }
      p {
        display: block;
      }
  }
  .copyright {
    margin: 20px 0;
    text-align: center;
  }
}
