footer {
  font-family: $font_family;
  @include outer-container;
  p {
    &.issues {
      margin-bottom: 10px;
      a {
        height: 20px;
      }
    }
    &.copyright {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
