@import "../components/header/header-menu";

header {
  @include transition(all 0.2s ease-in-out);
  background-color: white;
  display: block;
  position: fixed;
  width: 100%;
  height: 145px;
  line-height: 145px;
  @include box-sizing(border-box);
  font-family: $font_family;
  text-align: center;
  z-index: 1001;
  .logo {
    display: inline-block;
    margin: 0 auto;
    font-size: 34px;
  }
  .shadow-border {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 64px;
    display: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  }
  &.shrink {
    height: 64px;
    line-height: 64px;
    opacity: 0.95;
    .logo {
      font-size: 14px;
    }
    .shadow-border {
      display: block;
    }
  }
}

