@import "../components/hamburger-menu";
@import "../components/header-menu";

header {
  font-family: $font_family;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1001;
  @include box-sizing(border-box);
  background-color: white;
  text-align: center;
  .logo {
    display: inline-block;
    margin: 0 auto;
  }
  .hamburger {
    margin: 1.5% 5%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    > span {
      background: black;
    }
    &.open { }
  }
  .shadow-border {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  }
}

