/*
 * Description
 *
 * - Components:
 *   - component.less
 */

@import "../components/slider";

.page {
  font-family: $font_family;
  @include outer-container;
  flex: 1;
  h1 {
    font-weight: 200;
  }
  p {
    color: #333;
  }
  &.page-home {
    .about {
      padding: 0 15px;
    }
    .work{
      overflow: hidden;

    }
  }
}