@import "about/page-about";
@import "home/page-home";
@import "contacts/page-contacts";

.page {
  padding-top: 140px;
  font-family: $font_family;
  @include outer-container;
  flex: 1;
  p {
    color: #333;
  }
}
