@import "about/page-about";
@import "home/page-home";
@import "contacts/page-contacts";

.page {
  padding-top: 145px;
  font-family: $font_family;
  margin-left: auto;
  margin-right: auto;
  -webkit-flex: 1;
  flex: 1;
  max-width: 68em;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
  p {
    color: #333;
  }
}
