@import "hamburger";

$numberOfMenuItems: 4;

$menuItemHeight: 100 / $numberOfMenuItems;

.hamburger-menu {
  line-height: 0;
  .hamburger-list {
    opacity: 0;
    z-index: -1;
    @include transition(opacity 0);
  }
  &.open {
    .hamburger-list {
      position: fixed;
      z-index: 1;
      opacity: 1;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(white, 0.9);
      @include transition(opacity 800ms);
      .nav, .nav li {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
      }

      .nav a {
        display: block;
        position: relative;
        z-index: 3;
        width: 100%;
        background: transparent;
        color: #1c1c1c;
        font-size: 300%;
        letter-spacing: 1vw;
        line-height: $menuItemHeight + vh;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: none !important;
        &:hover, &:focus {
          color: white;
          @include transition-property(background-color, color);
          @include transition-duration(150ms);
          &.about {
            background: rgba(#21c6ce, 0.9);
          }
          &.home {
            background: rgba(#ffd934, 0.9);
          }
          &.contact {
            background: rgba(#8900ce, 0.9);
          }
          &.blog {
            background: rgba(#ec2028, 0.9);
          }
        }
      }
    }
  }
}

