<section class="jobs">
  <figure class="job-item black-ruby">
    <figcaption>
      <h2 class="title">Support in Black Ruby</h2>
      <div class="skills">
        <span class="skill-item github"><img src="images/octocat.png"/></span>
        <span class="skill-item react"><img src="images/react.png"/></span>
        <span class="skill-item webpack"><img src="images/webpack.png"/></span>
        <span class="skill-item bem"><img src="images/bem.png"/></span>
        <span class="skill-item angular"><img src="images/angularjs.png"/></span>
        <span class="skill-item rails"><img src="images/ror.svg"/></span>
        <span class="skill-item ruby"><img src="images/ruby.svg"/></span>
        <span class="skill-item rjavascript"><img src="images/js.svg"/></span>
      </div>
      <div class="short-description">
        Black Ruby is a place for ruby golems from around the world at your service
      </div>
      <div class="position">Ruby Golem.</div>
      <div class="full-description">
        <h2 class="title">Black Ruby</h2>
        <br/>
        <p>In Black Ruby I consult about development with Ruby on Rails.</p>
        <br/>
        <p>I'm up to the challenge of your next Front-end/User Experience project and I'm definitely interested in placing the perfect background to match your culture and objectives.</p>
        <br/>
        <p>You can make your proposals by <a href="https://xell.typeform.com/to/RoxpL6" target="_blank">submitting this form</a>.</p>
        <br/>
        <p class="website"><b>Website: </b><a href="https://github.com/RubySupport" target="_blank">Black Ruby</a></p>
      </div>
      <a href="" ng-click="changeClass($event)" class="view-more">View more</a>
      <div class="close" ng-click="changeClass($event)">
        <span></span>
        <span></span>
      </div>
    </figcaption>
  </figure>
  <figure class="job-item t-systems">
    <figcaption>
      <h2 class="title">Now in T-Systems</h2>
      <div class="skills">
        <span class="skill-item fireworks"><img src="images/fw.svg"/></span>
        <span class="skill-item javascript"><img src="images/js.svg"/></span>
        <span class="skill-item grunt"><img src="images/grunt.svg"/></span>
        <span class="skill-item html5"><img src="images/html.svg"/></span>
        <span class="skill-item css3"><img src="images/css.svg"/></span>
        <span class="skill-item ux-icon"></span>
      </div>
      <div class="short-description">
        T-Systems is a German global IT services and consulting company headquartered in Frankfurt
      </div>
      <div class="position">UI Expert Developer.</div>
      <div class="full-description">
        <h2 class="title">T-Systems</h2>
        <br/>
        <p>
          In T-Systems I'm responsible for creating a functional implementation of a product's interface. Usually, a UI designer hands off a static mockup to me and then I translate it into a working, interactive experience.
          Also I'm responsible for coding the visual interactions which come up in my daily meetings with UXD team.
        </p>
        <br/>
        <p><b>What kind of product I develop there:</b> a large-scale health care application which will be used in Austrian clinics.</p>
        <br/>
        <p><b>There you might hear from me:</b> "Invoke set markers function here".</p>
        <br/>
        <p><b>Tools of the trade:</b> HTML, CSS, JavaScript, LESS, Jade, CoffeeScript, Grunt.js, Fireworks.</p>
        <br/>
        <p><b>Management software:</b> JIRA</p>
        <br/>
        <p><b>What good has happened since I came:</b> I've automated development workflow with Grunt.js.</p>
        <br/>
        <p class="website"><b>Website: </b><a href="http://www.t-systems.com" target="_blank">T-Systems</a></p>
      </div>
      <a href="" ng-click="changeClass($event)" class="view-more">View more</a>
      <div class="close" ng-click="changeClass($event)">
        <span></span>
        <span></span>
      </div>
    </figcaption>
  </figure>
  <figure class="job-item evrone">
    <figcaption>
      <h2 class="title">2011-2014 Evrone</h2>
      <div class="skills">
        <span class="skill-item photoshop"><img src="images/ps.svg"/></span>
        <span class="skill-item javascript"><img src="images/js.svg"/></span>
        <span class="skill-item rails"><img src="images/ror.svg"/></span>
        <span class="skill-item html5"><img src="images/html.svg"/></span>
        <span class="skill-item css3"><img src="images/css.svg"/></span>
      </div>
      <div class="short-description">
        Evrone is a web laboratory which develops web apps and conducts ruby on rails conference Railsclub
      </div>
      <div class="position">Ruby On Rails Frontend Developer.</div>
      <div class="full-description">
        <h2 class="title">Evrone</h2>
        <br/>
        <p>Although I am a Front-end Developer, I was thoroughly enjoying working in Evrone and understanding the 'other side' of web development.
          Learning how data is created and moved around in the backend is quite fascinating to me.
          Being a front-end guy who works around Rails, I understood the basic concepts and structure of the MVC pattern.
          It's the specific syntax and test driven development where my learning curve lies.
        </p>
        <br/>
        <p><b>What kind of product I developed there:</b> Unusual, non-standard, technically complex projects.</p>
        <br/>
        <p><b>There you might heard from me:</b> "Lets use this gem".</p>
        <br/>
        <p><b>Tools of the trade:</b> Rails developers can draw from a huge pool of libraries to build their applications.</p>
        <br/>
        <p><b>Management software:</b> Unfuddle</p>
        <br/>
        <p><b>What good has happened since I came:</b> Fully refactored front-end of company-owned portal solution.</p>
        <br/>
        <p class="website"><b>Website:</b><a href="http://www.evrone.com" target="_blank">Evrone</a></p>
      </div>
      <a href="" ng-click="changeClass($event)" class="view-more">View more</a>
      <div class="close" ng-click="changeClass($event)">
        <span></span>
        <span></span>
      </div>
    </figcaption>
  </figure>
  <figure class="job-item mystery">
    <figcaption>
      <h2 class="title">2010 Mystery Group</h2>
      <div class="skills">
        <span class="skill-item fireworks"><img src="images/fw.svg"/></span>
        <span class="skill-item javascript"><img src="images/js.svg"/></span>
        <span class="skill-item html5"><img src="images/html.svg"/></span>
        <span class="skill-item css3"><img src="images/css.svg"/></span>
      </div>
      <div class="short-description">
        Mystery Group is a digital agency focused on internet marketing
      </div>
      <div class="position">Web Developer.</div>
      <div class="full-description">
        <h2 class="title">Mystery Group</h2>
        <br/>
        <p>
          Mystery Group positioning itself as a web development company. There I've created my first complex website and
          learned about backend possibilities.
        </p>
        <br/>
        <p><b>What kind of product I developed there:</b> Classy websites.</p>
        <br/>
        <p><b>There you might heard from me:</b> "We should use fluid layout because of provided content".</p>
        <br/>
        <p><b>Management software:</b> None</p>
        <br/>
        <p><b>What good has happened since I came:</b> I haven't worked there for too long.</p>
        <br/>
        <p class="website"><b>Website:</b><a href="http://www.mystery-group.ru" target="_blank">Mystery Group</a></p>
      </div>
      <a href="" ng-click="changeClass($event)" class="view-more">View more</a>
      <div class="close" ng-click="changeClass($event)">
        <span></span>
        <span></span>
      </div>
    </figcaption>
  </figure>
  <figure class="job-item id-company">
    <figcaption>
      <h2 class="title">2008 id company</h2>
      <div class="skills">
        <span class="skill-item fireworks"><img src="images/fw.svg"/></span>
        <span class="skill-item html5"><img src="images/html.svg"/></span>
        <span class="skill-item css3"><img src="images/css.svg"/></span>
      </div>
      <div class="short-description">
        ID develops multimedia and mobile applications
      </div>
      <div class="position">Web Developer.</div>
      <div class="full-description">
        <h2 class="title">ID Company</h2>
        <br/>
        <p>
          There I've learned to use HTML and CSS in production.
        </p>
        <br/>
        <p><b>What kind of product I developed there:</b> Multimedia.</p>
        <br/>
        <p><b>There you might heard from me:</b> "What is jQuery?".</p>
        <br/>
        <p><b>Management software:</b> None</p>
        <br/>
        <p><b>What good has happened since I came:</b> That was my first serious job.</p>
        <br/>
        <p class="website"><b>Website:</b><a href="http://www.idcompany.ru" target="_blank">ID Company</a></p>
      </div>
      <a href="" ng-click="changeClass($event)" class="view-more">View more</a>
      <div class="close" ng-click="changeClass($event)">
        <span></span>
        <span></span>
      </div>
    </figcaption>
  </figure>
  <figure class="job-item university">
    <figcaption>
      <h2 class="title">university</h2>
      <div class="skills">

      </div>
      <div class="short-description">
        I studied at Voronezh State Technical University. There I've learned computing machines, systems and networks
      </div>
      <div class="position">Student.</div>
      <div class="full-description">
        <h2 class="title">University</h2>
        <br/>
        <p>Nowadays, Voronezh  State Technical University, founded in 1956, is one of the largest institutions of higher education in Russia.
          The student audience of the University is about 12000 people, including those, studying at the College of Natural Science and Engineering.
          The teaching staff of the University includes 776 people, among which are more than 80 professors, 360 Assistant Professors and Candidates of Science.
        </p>
        <br/>
        <p><b>What kind of things I learned there:</b> Computing, software and hardware electrical systems.</p>
        <br/>
        <p class="website"><b>Website:</b><a href="http://www.vorstu.ru" target="_blank">VSTU</a></p>
      </div>
      <a href="" ng-click="changeClass($event)" class="view-more">View more</a>
      <div class="close" ng-click="changeClass($event)">
        <span></span>
        <span></span>
      </div>
    </figcaption>
  </figure>
</section>
