.page-about {
  margin-bottom: 50px;
  .ego {
    .skills {
      text-align: center;
      img {
        max-width: 150px;
        max-height: 200px;
        margin: 2%;
        vertical-align: middle;
      }
    }
  }
}
