.ribbon-container {
  border-bottom: 0 !important;
  .ribbon {
    z-index: 1002;
    height: 36px !important;
    line-height: 13px !important;
    text-transform: uppercase;
    &:before, &:after {
      height: 32px !important;
    }
    &:after {
      border-width: 2px 0px 2px 0 !important;
    }
  }
}


._720kb-tooltip {
  display: none;
  opacity: 0;
}
._720kb-tooltip._720kb-tooltip-open {
  display: block;
  opacity: 1;
}
